* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1140px;
  padding: 30px;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/titillium-web-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/titillium-web-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Sailec Bold";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Sailec-Bold.woff2") format("woff2"),
    url("../fonts/Sailec-Bold.woff") format("woff");
}
.header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
ul {
  list-style: none;
}
.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 22px;
}
a {
  text-decoration: none;
}
.header-a {
  font-family: "Sailec Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: rgba(102, 102, 102, 0.85);
  margin-bottom: 28px;
}
.sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.exploring-h1 {
  font-family: "Sailec Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
  width: 522px;
  height: 175px;
  margin-bottom: 20px;
  margin-top: 134px;
  margin-right: 8px;
}
.exploring-p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #434a54;
  width: 512px;
  height: 120px;
}
.sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.develop-img {
  margin-left: -75px;
  margin-top: 30px;
  margin-right: 25px;
  margin-bottom: 30px;
}
.develop-h1 {
  font-family: "Sailec Bold";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
  margin-top: 191px;
  margin-bottom: 15px;
}
.develop-p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #434a54;
  margin-bottom: 28px;
}
.develop-a {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #1d6ff3;
}
.learn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.learn-h1 {
  font-family: "Sailec Bold";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
  margin-top: 183px;
  margin-bottom: 20px;
  width: 443px;
}
.learn-p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #434a54;
  width: 500px;
  height: 60px;
  margin-bottom: 59px;
}
.learning-a {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #1d6ff3;
}
.learn-img {
  width: 600px;
  height: 600px;
  margin-left: 30px;
}
.blog_section .container {
  padding-top: 80px;
}
.blog_section_title {
  margin-bottom: 15px;
  font-family: "Sailec-Bold";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}
.blogs_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.blog_card {
  width: 330px;
  margin-bottom: 200px;
  z-index: 0;
  position: relative;
}
.blog_info {
  top: 130px;
  left: 23px;
  width: 280px;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
  position: absolute;
}
.blog_info h3 {
  font-family: "Sailec-Bold";
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
}
.blog_info p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #434a54;
}
.start-sec {
  background-color: #eee;
  padding: 80px 0;
}
.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.learning-h1 {
  font-family: "Sailec Bold";
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: #4a4a4a;
  margin-bottom: 18px;
}
.learning-p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #434a54;
  width: 463px;
}
.inter-email {
  background: #fff;
  border-radius: 4px 0 0 4px;
  width: 299px;
  height: 42px;
}
.button-sub {
  height: 42px;
  width: 121px;
  background: #1d6ff3;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  color: #fff;
}
.button-sub:hover {
  background-color: #7fff00;
  color: #fff;
}
.footer-one {
  background-color: #fff;
  padding: 50px 0 105px;
}
.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.academiy-h3 {
  font-family: "Sailec Bold";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-bottom: 19px;
}
.academiy-a {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #637280;
}
.know-a {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #637280;
}
.lin {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  width: 30px;
  height: 3px;
  margin-top: 25px;
}
.facebook {
  margin-top: 25px;
  width: 10px;
  height: 19px;
  margin-right: 9px;
}
.twiter {
  width: 19px;
  height: 15px;
  margin-right: 9px;
}
a:hover {
  background-color: #f8e306;
  color: #fff;
}
